!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HelloRails
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    aaa
    - if logged_in?
      = link_to "ログアウト", logout_path, method: :delete
    - else
      = link_to "githubでログイン", '/auth/github', method: :post
    - if flash.notice
      = flash.notice
    = User.last(1)
